.cache/**
.local/**
.mozilla/**
.ssh/**
.vscode/**
.pki/**
.nix-defexpr/**
.gnupg/**
.dotnet/**
.claude/**
.config/**
.npm/**
.npm-global/*
.cargo/*
.rustup/*
.lyrics/*

.nix-profile
.claude*
.bash_history
.python_history
.viminfo
