[submodule ".claude"]
	path = .claude
	url = https://github.com/isomoes/claude-conf.git
[submodule ".qwen"]
	path = .qwen
	url = https://github.com/isomoes/qwen-config.git
[submodule ".config"]
	path = .config
	url = https://github.com/isomoes/arch-config.git
