[submodule ".claude"]
	path = .claude
	url = https://github.com/isomoes/claude-conf.git
[submodule ".qwen"]
	path = .qwen
	url = https://github.com/isomoes/qwen-config.git
[submodule ".config"]
	path = .config
	url = https://github.com/isomoes/arch-config.git
[submodule "Videos"]
	path = Videos
	url = https://github.com/isomoes-video/video.git
[submodule ".codex"]
	path = .codex
	url = https://github.com/isomoes/codex-config.git
[submodule ".pi"]
	path = .pi
	url = https://github.com/isomoes/pi-config.git
