.cache/**
.local/**
.mozilla/**
.ssh/**
.vscode/**
.pki/**
.nix-defexpr/**
.gnupg/**
.dotnet/**
.claude/**
.config/**
.npm/**
.npm-global/*
.cargo/**
!.cargo/config.toml
.rustup/*
.lyrics/*
.debug/*

# Standard directories
Desktop/**
Downloads/**
Pictures/**
Documents/**
Music/**
Videos/**
Templates/**
Public/**

.nix-profile
.claude*
.bash_history
.python_history
.viminfo
.gtkrc-2.0
.histfile
.zcompdump*
.gitignore
.zsh_history
