.cache/**
.local/**
.mozilla/**
.ssh/**
.vscode/**
.pki/**
.nix-defexpr/**
.gnupg/**
.dotnet/**
.config/**
.npm/**
.npm-global/*
.cargo/**
!.cargo/config.toml
.rustup/*
.lyrics/*
.debug/*
.codex/**
!.codex/config.toml
!.codex/notify.py

# Standard directories
Desktop/**
Downloads/**
Pictures/**
Documents/**
Music/**
Videos/**
Templates/**
Public/**
code/**


.nix-profile
.claude.*
.bash_history
.python_history
.viminfo
.gtkrc-2.0
.histfile
.zcompdump*
.gitignore
.zsh_history

.steam/**
.steam*

.newsboat/cache.db
.newsboat/cache.db*
.newsboat/history.*

Unity/*
.xsession-errors
.oh-my-zsh/
.xsession-errors*
.token
.ipython/*
.sage/*
.pulse-cookie
.xwechat/*
xwechat_files
.sys1og.conf
.hplip
.john
.idapro
.java/fonts/25.0.1
.Xauthority
.m2/repository
.codeql/compile-cache
.codeql/packages/codeql
.lemminx/cache/http/maven.apache.org/xsd
.wget-hsts
.platformio
.bun
hp-check.log
.nvm
.opencode/bin
.emacs.d
.spacemacs
.spacemacs.env
.vibe-kanban/opencode_sessions
.vibe-kanban/bin/
.gemini
.antigravity/extensions
go/pkg/mod
.termdbms
.conda
.continue
.yarn
.lingma

# macOS system files
.DS_Store
Library/**
Movies/**
Sunlogin/**
anaconda3/**
.zsh_sessions
.tmux/plugins/tpm
.ikanban
